<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workuments.workuments">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WorkumentsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".logInActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webViewActivity"
            android:parentActivityName=".logInActivity" />
        <activity
            android:name=".sitesTableViewActivity"
            android:parentActivityName=".logInActivity"/>
        <activity
            android:name=".addSiteActivity"
            android:parentActivityName=".sitesTableViewActivity"
            android:noHistory="true"/>
        <activity
            android:name=".settingsActivity"
            android:parentActivityName=".webViewActivity"/>
    </application>

</manifest>
